
{{ define "post"}} {{ template "upper_open" or .Meta.Title "A Post" }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.css"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/a11y-dark.min.css">
{{ template "upper_close" }}
<header>{{ template "back" "/posts" }}</header>
<main>
    <article>
        <p class="text-right">
            <time datetime="{{.Meta.Date}}">
                {{ .Meta.Date.Format "January 02, 2006" }}
            </time>
        </p>
        <h1 class="post-title text-center">{{ or .Meta.Title "A Post" }}</h1>
        {{ .Content }}
    </article>
{{ template "lower_open" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    hljs.highlightAll()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.js"></script>
<script>
    document.querySelectorAll('article img').forEach((img) => {
            const viewer = new Viewer(img, {
                navbar: false,
                toolbar: {
                    zoomIn: 4,
                    zoomOut: 4,
                    oneToOne: 4,
                    reset: 4,
                    rotateLeft: 4,
                    rotateRight: 4,
                    flipHorizontal: 4,
                    flipVertical: 4,
                },
            })
        })
</script>
{{ template "lower_close" }}
{{ end }}