{{ define "post"}} {{ template "upper" or .Meta.Title "A Post" }}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.css"
/>
<header>{{ template "back" "/posts" }}</header>
<main>
    <article>
        <p class="text-right">
            <time datetime="{{.Meta.Date}}">
                {{ .Meta.Date.Format "January 02, 2006" }}
            </time>
        </p>
        <h1 class="post-title text-center">{{ or .Meta.Title "A Post" }}</h1>
        {{ .Content }}
    </article>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.js"></script>
    <script>
        document.querySelectorAll('article img').forEach((img) => {
            const viewer = new Viewer(img, {
                navbar: false,
                toolbar: {
                    zoomIn: 4,
                    zoomOut: 4,
                    oneToOne: 4,
                    reset: 4,
                    rotateLeft: 4,
                    rotateRight: 4,
                    flipHorizontal: 4,
                    flipVertical: 4,
                },
            })
        })
    </script>
{{ template "lower" }} {{ end }}