{{ define "projects" }}
{{ template "upper" .Meta.Title }}
<header>
    {{ template "back" }}
</header>
<main>
    {{ if .Content }}
    <h1>List of Projects</h1>
    <ul>
    {{ range .Content }}
        <li>
            <a href="{{ .Path }}">{{ .Title }}</a>
            <span class="project-timeframe">({{ .Timeframe.Start.Format "Jan 2006" }} - {{ .Timeframe.End.Format "Jan 2006" }})</span>
        </li>
    {{ end }}
    </ul>
    {{ else }}
    <h1 class="center-ver-hor text-center">Lagi males nulis, cek aja di <a href="https://github.com/thansetan" target="_blank">GitHub</a>.</h2>
    {{ end }}
{{ template "lower"}}
{{ end }}