{{ define "project" }}
{{ template "upper" .Meta.Title }}
<header>
    {{ template "back" "/projects" }}
</header>
<main>
    <h1 class="text-center project-title">{{ .Meta.Title }}</h1>
    <p class="text-center project-timeframe">
        ({{ .Content.Timeframe.Start.Format "Jan 2006" }} - {{ .Content.Timeframe.End.Format "Jan 2006" }})
    </p>
    <p class="project-description">
        {{ .Content.Description }}
    </p>
    <div class="project-url">
        {{ if .Content.GithubRepo }}
        <a href="{{ .Content.GithubRepo }}" target="_blank">GitHub Repository</a>
        {{ else }}
        <span>Github Repository</span>
        {{ end }}
        {{ if .Content.ProjectURL }}
        <a href="{{ .Content.ProjectURL}}" target="_blank">Project URL</a>
        {{ else }}
        <span>Project URL</span>
        {{ end }}
    </div>
    <h2>Tech used: </h2>
    <ul>
        {{ range .Content.Technologies}}
        <li><a href="{{ .URL }}" target="_blank">{{ .Name }}</a></li>
        {{ end }}
    </ul>
{{ template "lower" }}
{{ end }}